body {
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  margin: 20px;
  background-color: #999;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 85px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 85px;
  color: black;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

input {
  margin-bottom: 10px;
}

.button {
  margin-bottom: 10px;
}

.card {
  width: 33%;
}

#spaces {
  font-size: x-large;
  width: 100%;
}

#score1, #score2 {
  color: white;
  font-size: 20px;
}

#name1, #name2 {
  width: 50%;
}

/* .game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
} */